<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	
</head>
<body>



	<div class="row">
		<div class="col s4 offset-s4 ">
		<h4 class="grey center-align white-text">Ticket</h4>
		<h6 class="">Boleto: {{boleto}}</h6><br>
		<h6>Tarjeta: {{tarjeta}}</h6><br>
		<h6>Hora de Entrada: {{horaent}}</h6><br>
		<h6>Tarifa/HR: {{tarifa}} $</h6><br>
		<h6>Clase: {{clase}} </h6><br>
		<h6>Total: {{total}} $</h6><br>
		<h6>Fecha/Hora Pago: {{fechapa}}</h6><br>
		<center><img class="responsive " src="../output.png" alt=""></center>
		<h6  class="red-text center-align" style="font-size: 12px">Con este codigo QR puede validar su salida.</h6>
		<h6  class="red-text center-align" style="font-size: 12px">Marque a 444 345 34 para cualquier aclaracion.</h6><br>

		<h4 class="green-text center-align">GRACIAS!!</h4>
		
		</div>
	</div>
	
</body>
</html>